@media only screen and (max-width: 1020px){
  .hamburger{
    display: block;
    position: absolute;
    top: 6px;
    right: 20px;
  }

  .navCollapse{
    display:none;
  }

  .navbar a{
    display:block;
    text-align: center;
  }
}

@media only screen and (min-width: 1020px) {
  .hamburger{
      display: none;
  }

  .navbar{
    grid-template-columns: 25% 75%;
  }

  .navCollapse{
    display: block !important;
  }

  .navbar a{
    float: left;
    display:block;
  }

  .navbar .right{
    grid-column: 2;
    text-align: right;
    padding: 0;
    margin:auto;
    margin-right: 20px;
  }
}

body{
  margin:0;
  width: 100%;
  font-family: 'Pompiere', cursive;
  background: #8BA355;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: 'Freckle Face', cursive;
}

ul{
  padding: 0;
  list-style-type: none;
}

h1{
  font-family: 'Frijole', cursive;
  font-size: 50px;
  color: #8BA355;
  margin-bottom: 0;
}

h2{
  font-family: 'Freckle Face', cursive;
  color: #D9541F;
  font-size: 40px;
  margin: 5px;
}

h3{
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: 4px;
  font-size: 20px;
}

.content{
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;

}

.hamburger{
  width:50px;
}

.hamLine{
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  margin: 6px;
}

.navTitle{
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar{
  display: grid;
  color: white;
  background-color: #8BA355;
  position:fixed;
  top:0;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  border-bottom: 1px solid #E4EE69;
}

.navbar a{
  padding: 10px;
}
